.container {
	margin: auto;
}
#skladyPidhod, #notSave, #key, #perevagy, #square, #komirky, #protect, #vartist, #dostavka, #month, #gallery, #about, #question{
	text-align: center;
}
#main{
	background: url(../img/bg_header.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 500px;
}
#main h2{
	text-transform: none;
}
#main h4{
	text-transform: none;
}
#numbers{
	background-color: #eae6e2;
	padding-top: 80px;
}
#numbers h3{
	font-size: 25px;
	text-transform: lowercase;
}

/*#skladyPidhod{
	background-color: #f5f2f5;
	padding-top: 100px;
	padding-bottom: 20px;
}
#skladyPidhod h2{
	margin-bottom: 50px;
}
#skladyPidhod h5{
	text-transform: lowercase;
}
.skladyPidhodContent{
	text-align: center;
	margin-bottom: 50px;
}
.skladyPidhodContent div{
	margin-bottom: 50px;
}
.skladyPidhodContent img{
	width: 120px;
	border-radius: 9px;
	margin-bottom: 15px;
}*/
#canSave{
	background-color: #f5f2f5;
}
#canSave h3{
	text-align: center;
}
.canSaveContent{
	text-align: center;
}
#notSave{
	background-color: #1b7788;
	padding-top: 50px;
	padding-bottom: 50px;
}
.notSaveContent{
	background-color: white;
	border-radius: 8px;
	padding-top: 50px;
}
.notSaveContent h5{
	text-transform: lowercase;
}
#key{
	background-color: #eae6e2;
	padding-top: 80px;
	padding-bottom: 80px;
}
.keyContent{
	border-bottom: 1px solid #b1b2b2;
}
.keyContent h3{
	margin-bottom: 40px;
}
#schema h3{
	text-align: center;
}
#kontakty h3{
	text-align: center;
}
#perevagy{
	background-color: #eae6e2;
	padding-top: 80px;
	padding-bottom: 80px;
}
#about h6{
	text-align: left;
}
#about p{
	text-align: left;
}











@media screen and (min-width: 1701px) and (max-width: 1800px) {
	.container {
	width: 65%;
	}
}
@media screen and (min-width: 1601px) and (max-width: 1700px) {
	.container {
	width: 69%;
	}
}
@media screen and (min-width: 1501px) and (max-width: 1600px) {
	.container {
	width: 73%;
	}
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
	.container {
	width: 78%;
	}
}
@media screen and (min-width: 1301px) and (max-width: 1400px) {
	.container {
	width: 83%;
	}
}
@media screen and (min-width: 1170px) and (max-width: 1300px) {
	.container {
	width: 90%;
	}
}
@media screen and (max-width: 1170px) {
	.container {
	width: 96%;
	}
}