
.container {
	margin: auto;
}
.modalWindow{
	display: none;
	position: absolute;
}
.visible {
	background: #fff;
	overflow: hidden;
	z-index: 200;
	width: 400px;
	padding: 0px;
	text-align: center;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	top:20%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}
.visible .fa {
	font-size: 26px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0.7;
}
.modalWindow input{
	/*width: 80%;*/
	margin-left: auto;
	margin-right: auto;
}

#skladyPidhod, #notSave, #key, #square, #komirky, #protect, #vartist, #dostavka, #month, #gallery, #about, #question{
	text-align: center;
	padding-bottom: 70px;
	padding-top: 40px;
}
#schema, #kontakty{
	padding-top: 80px;
	padding-bottom: 100px;
}
p{
	font-size: 19px;
	font-weight: 100;
}
h3{
	padding-top: 55px;
	padding-bottom: 40px;
}
button{
	font-weight: bold;
	font-size: 17px;
}
#main{
	background: url(../img/bg_header.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 500px;
}
#main h2{
	text-transform: none;
}
#main h4{
	text-transform: none;
}
.mainContent{
	padding-top: 80px;
}
.mainContent button{
	/*position: absolute;
	right: 18%;*/
	float: right;
}
#numbers{
	background-color: #eae6e2;
	padding-top: 80px;
}
#numbers .container{
	border-bottom: 1px solid #b1b2b2;
	padding-bottom: 30px;
}
#numbers h3{
	font-size: 25px;
	text-transform: lowercase;
	padding-top: 10px;
	padding-bottom: 10px;
}
.one-fourth.column, .four.columns{
	width: 30%;
}
#canSave{
	background-color:  #eae6e2 /*#f5f2f5*/;
	padding-top: 50px;
	padding-bottom: 130px;
}
#canSave h3{
	text-align: center;
}
.canSaveContent{
	text-align: center;
}
.canSaveContent img{
	height: 160px;
}
#notSave{
   /*#1b7788; blue*/
	padding-top: 50px;
	padding-bottom: 50px;
}
.notSaveContent{
	background-color: white;
	border-bottom: 1px solid #b1b2b2;
	padding-bottom: 60px;
}
.notSaveContent h5{
	text-transform: lowercase;
}
.notSaveItem{
	margin-bottom: 60px;
}
.notSaveContent img{
	width: 250px;
	margin-bottom: 20px;
	border-radius: 6px;
}
#square{

}
#protect img{
	height: 130px;
}
#vartist .container{
	padding-bottom: 50px;
	border-bottom: 1px solid #b1b2b2;
}
#key{
	padding-bottom: 80px;
}
.keyContent{
	
}
.keyContent h3{
	margin-bottom: 40px;
}
#schema{
	background-color: #eae6e2;
}
#schema h3{
	text-align: center;
}
#month{
	padding-top: 70px;
	margin-top: 30px;
}
#month p{
	margin-top: 10px;
	font-size: 25px;
}
.carousel{
	margin-top: 40px;
}
.carousel .item{
	/*background-color: transparent;*/
}
.carousel-indicators .active{
	background-color: #1b7788;
	border-color: #1b7788;
}
#kontakty{
	padding-bottom: 70px;
}
.adress{
	padding-top: 30px;
}
#kontakty form{
	background-color: #eae6e2;
	padding: 15px;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
}
#kontakty input{
	width: 100%;
	font-size: 18px;
}
#kontakty h3{
	text-align: center;
}
#kontakty h6{
	text-align: center;
	padding-top: 50px;
}
#perevagy{
	overflow: hidden; 
	position: relative;
	display: block;
}
.column_trailer_box{
	padding-left: 0px;
	padding-right: 0px;
}
#map{
	margin-bottom: 70px;
}
#about{
	background-color: #eae6e2;
}
#about h6{
	text-align: left;
}
#about p{
	text-align: left;
}
#footer{
	background-color: #eae6e2;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 70px;
}
#footer a, #footer p{
	text-align: center;
}











@media screen and (min-width: 1701px) and (max-width: 1800px) {
	.container {
	width: 65%;
	}
}
@media screen and (min-width: 1601px) and (max-width: 1700px) {
	.container {
	width: 69%;
	}
}
@media screen and (min-width: 1501px) and (max-width: 1600px) {
	.container {
	width: 73%;
	}
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
	.container {
	width: 78%;
	}
}
@media screen and (min-width: 1301px) and (max-width: 1400px) {
	.container {
	width: 83%;
	}
}
@media screen and (min-width: 1170px) and (max-width: 1300px) {
	.container {
	width: 90%;
	}
}
@media screen and (max-width: 1170px) {
	.container {
	width: 96%;
	}
}
@media only screen and (max-width: 959px) and (min-width: 768px){
	.container {
	width: 96%;
	}
}
@media only screen and (max-width: 767px) and (min-width: 480px){
	.container {
	width: 96% !important;
	}
}

